.emacs.desktop
.emacs.desktop.lock
.org-id-locations
.python-environments/
abbrev_defs
ac-comphist.dat
anything-c-adaptive-history
bookmarks
elpa/
image-dired/
infodebug
network-security.data
places
recentf
request/
semanticdb/
thumbs/
tramp
url/
xkcd/
/gift-mode/
/OLD-elpa-DELETE-ME/adoc-mode-20160314.1430/adoc-mode-autoloads.el
src/